<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<h1>Welcome to THE Fake Instagram!</h1>
<h2>You are logged in via the email: {{username}}</h2>


<nav class="navbar navbar-light bg-light">
  <form action='/dashboard' method="post" class="form-inline">
    <input name="new_post" class="form-control mr-sm-10" type="text" placeholder="Post yo caption here" aria-label="Post your latest image">
    <button class="btn btn-primary" type="submit">Post that joy</button>
  </form>
  
  <div class="float-right">
    <div class="btn-group" role="group" aria-label="Basic example">
    <form action="/dashboard" method="post" class="form-inline"> 
    <button type="submit" name="which_users" value="all_posts" class="btn btn-{{buttontype1}}">All Posts</button>
    </form>
    </form>
    <button type="submit" name="which_users" value="your_posts" class="btn btn-{{buttontype2}}">Your Posts</button>
    </form>
    </div>
  </div>
  
</nav>
<div class="col">
<div class="row">
  <div class="col-12">
    <table class="table table-striped" id="owned_stock_table">
      <thead class="thead-dark">
        <tr>
          <th>Post</th>
          <th>Caption</th>
          <th>User</th>
          <th>Post Time</th>
        </tr>
      </thead>
      <tbody>
        {% for post in allposts %}
        <tr>
          <td><img src="{{url_for('image', filename=post.picture)}}" class="img-fluid img-thumbnail"></td>
          <td>{{ post.post_text }}</td>
          <td>{{ post.username }}</td>
          <td>{{ post.time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
        <div class="col-md-4">
        <h3><a href="{{url_for('logout')}}">Logout</a>
                    </h3>
</div>
</div>
</div>
</html>