<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h1>Welcome to Fake Twitter!</h1>
<h2>You are logged in via the email: {{username}}</h2>


<nav class="navbar navbar-light bg-light">
  <form action='/dashboard' method="post" class="form-inline">
    <input name="new_tweet" class="form-control mr-sm-10" type="text" placeholder="Speak yo mind here" aria-label="Tweet your latest thoughts">
    <button class="btn btn-primary" name="new_tweet_button" type="submit">Send that Tweet</button>
  </form>
  
  <div class="float-right">
    <div class="btn-group" role="group" aria-label="Basic example">
    <form action="/dashboard" method="post" class="form-inline"> 
    <input name="all_users" type="hidden" value="12">
    <button type="submit" class="btn btn-{{buttontype1}}">All Tweets</button>
    </form>
    <form action="/dashboard" method="post" class="form-inline"> 
    <input name="my_users" type="hidden" value="1">
    <button type="submit" class="btn btn-{{buttontype2}}">Your Tweets</button>
    </form>
    </div>
  </div>
  
</nav>
<div class="col">
<div class="row">
  <div class="col-12">
    <table class="table table-striped" id="owned_stock_table">
      <thead class="thead-dark">
        <tr>
          <th>User</th>
          <th>Tweets</th>
          <th>Tweet Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for tweet in alltweets %}
        <tr>
          <td>{{ tweet.username }}</td>
          <td>{{ tweet.tweet_text }}</td>
          <td>{{ tweet.time }}</td>
          
          <td>
            <div class="float-right">
            <div class="btn-group"> 
              <form action="/dashboard" method="post" class="form-inline"> 
                <input name="like" type="hidden" value={{tweet.pk}}>
                <button type="submit" class="btn btn-primary">Like {{tweet.likes}}</button>
              </form>
          
              <form action="/dashboard" method="post" class="form-inline"> 
                <input name="retweet" type="hidden" value={{tweet.pk}}>
                <button type="submit" class="btn btn-primary">Retweet {{tweet.retweet_count}}</button>
              </form>              
              </div>
              </div>
              </div>
              </div>
              </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
        <div class="col-md-4">
        <h3><a href="{{url_for('logout')}}">Logout</a>
                    </h3>
</div>
</div>
</div>
</body>
</html>